{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<table>
    <tbody>
        {% for listing in listings %}

        <tr>
            <td><img src={{listing.imageUrl}} width="200"></td>
            <td>
                <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                <div>
                    <strong>Price:</strong> ${{listing.currentPrice}}
                </div>
                <div> {{listing.description}}</div>
                <div><small>Created {{listing.timeCreated}}</small></div>

            </td>
        </tr>

        {% endfor %}
    </tbody>

</table>
{% endblock %}